[submodule "DMH_VCEG_PANEL/Libraries/SynthStuff"]
	path = DMH_VCEG_PANEL/Libraries/SynthStuff
	url = https://github.com/DeMarco/KiCad-Lib-SynthStuff.git
[submodule "DMH_VCEG_PCB_1/Libraries/SynthStuff"]
	path = DMH_VCEG_PCB_1/Libraries/SynthStuff
	url = https://github.com/DeMarco/KiCad-Lib-SynthStuff.git
[submodule "DMH_VCEG_PCB_2/Libraries/SynthStuff"]
	path = DMH_VCEG_PCB_2/Libraries/SynthStuff
	url = https://github.com/DeMarco/KiCad-Lib-SynthStuff.git
